@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Trispace:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

:root {
    --text-color: #fff;
}

body {
    color: #fff;
    font-size: 26px;
    overflow: hidden;
    font-family: "Space Grotesk", sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

h2 {
    font-size: 48px;
    font-weight: 600;
}

h3 {
    font-size: 36px;

}

h5 {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}
/*  */

/* base.html */
.header {
    height: 80px;
    background-color: #000;
    box-shadow: var(--box-shadow);
}

.header-container {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}

.header-logo-img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.nav-a:hover {
    font-size: 27px;
}

.staff{
    margin-top: 5px;
}

.btn, .dropdown-menu {
    border-radius: 50%;
    color: #fff; 
    background-color: #000;
}

.btn:hover {
    color: #fff;
    text-decoration: underline;
}

.dropdown {
    margin-bottom: 15px;
}

.dropdown-menu {
    width: auto; /* Или уберите это свойство, чтобы использовать ширину содержимого */
    min-width: 100%;
    color: #fff;
    border-radius: 50%;
}

.dropdown-menu:hover {
    color: #fff;
    text-decoration: underline;
}

.dropdown-item {
    color: #fff;
    border-radius: 50px; 
    transition: background-color 0.3s ease;
    background-color: #000;
}

.dropdown-item:hover {
    text-decoration: underline;
}

.header-list {
    text-transform: uppercase;
}

.header-top-phone {
    margin-right: 20px;
}

.header-top-phone a:hover {
    text-decoration: underline;
}

ul.social-icons a {
    transition: all 0.65s ease;
    margin-right: 10px;
}

ul.social-icons a:hover {
    background-color: var(--text-color);
    color: black;
    border-radius: 60%
}

fa-solid{
    color: #fff;
    margin-top: 5px;
}

.header-user {
    padding-right: 20px;
}

.cart-img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.cart-quantity {
    position: absolute;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    font-size: 13px;
    border: 1px solid #fff;
    text-align: center;
    margin-left: -5px;
    margin-top: 20px;
}

.footer {
    height: 5%;
    font-size: 12px;
    background-color: #000000; 
    opacity: 70%;
    color: white;
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: fixed;
    bottom: 0; 
    width: 100%; 
    z-index: 1000;
}

/* index.html */
.index {
    align-items: center;
}

.index-title {
    margin-top: 30px;
    margin-bottom: 50px;
}

.index-cards {
    padding: 10px;
    background: none;
    width: 1100px;
    overflow-y: hidden;
}

.index-cards::-webkit-scrollbar {
    height: 8px; /* Высота скроллбара */
}

.index-cards::-webkit-scrollbar-thumb {
    background-color: #888; /* Цвет ползунка */
    border-radius: 4px; /* Скругление углов ползунка */
}

.index-cards::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Цвет ползунка при наведении */
}

.most-pop {
    font-size: 48px;
    line-height: 0;
}

.index-card {
    width: 200px;
    height: 325px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.5s ease;
    background-color:transparent;
}

.index-card:hover {
    border: 1px solid #fff;
}

/* detail.html */
.detail {
    margin-top: 10px;
    margin-left: 20px;
}

.detail-image {
    width: 650px;
    height: 650px;
}

.detail-card {
    margin-left: 20px;
}

.description{
    font-size: 5px;
}

.image-nav {
    position: absolute;
    top: 85%;
    left: 15.5%;
    text-align: center;
}

.prev-btn, .next-btn {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.detail-p {
    font-size: 18px;
}

.card-discount {
    margin-top: 10px;
}

.card-discount p {
    font-size: 24px;
    padding: 0%;
    margin: 0;
}

.line {
    font-size: 20px;
    opacity: 0.7;
    text-decoration: line-through;
    font-weight: 300;
    margin-top: -10px;
    
}

.price {
    font-size: 20px;
    font-weight: 700;
    margin-top: -18px;
}

.cart-form {
    margin-top: 25px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff ease;
    border-radius: 5px;

}

.add-to-cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 0;
    transition: all 0.5s ease;
    background-color: transparent;
    margin-top: 25px;
    transition: all 0.5s ease;
}

.add-to-cart-btn:hover {
    box-shadow: 1px 1px 5px;
}

/* celestial_list.html */

.list {
    margin-top: -30px;
    margin-left: 80px;
}

.sidebar {
    margin-top: 70px;
}

.sidebar ul li {
    font-size: 20px;
    width: 165px;
    height: 35px;
    margin-bottom: 5px;
}

.sidebar ul li a {
    margin-left: 15px;
    width: 165px;
}

.sidebar ul {
    margin-top: 20px;
}

.cats {
    list-style: square;
}

.selected {
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
}

.main {
    margin-left: 150px;
}

.main-title {
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 65px;
}

.items {
    
    width: 100%;
    max-width: 1100px;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
}

.card-img {
    width: 195px;
    height: 195px;
}

.title-card {
    max-width: 185px;
    margin-top: 20px;
    min-height: 70px;
}

.pagination {
    display: flex;
    position: absolute;
    bottom: -20%;
    left: 46%;
    gap: 12px;
    justify-content: center;
}

.disabled {
    opacity: 0.2;
}

/* cart_detail.html */

.cart-view {
    display: flex;
    justify-content: center;
}

.cart {
    flex-direction: column;
    padding-left: 25px;
}

.cart-title {
    margin-top: 20px;
    margin-bottom: 30px;
}

.cart-cards {
    padding-right: 10px;
    max-height: 54vh; 
    max-width: 670px;
    overflow-y: auto;
}

.cart-cards::-webkit-scrollbar {
    height: 8px; /* Высота скроллбара */
}

.cart-cards::-webkit-scrollbar-thumb {
    background-color: #888; /* Цвет ползунка */
    border-radius: 4px; /* Скругление углов ползунка */
}

.cart-cards::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Цвет ползунка при наведении */
}

.cart-card {
    display: flex;
    gap: 15px;

    align-items: center;
    width: 650px;
    height: 150px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.cart-card-img img {
    width: 125px;
    height: 125px;
    border: 1px solid #fff;
}

.cart-card-name {
    width: 240px;
}

.cart-card-q {
    
    font-size: 18px;
}

.cart-discount {
    font-size:20px;
}

.line-cart {
    opacity: 0.7;
    text-decoration: line-through;
    font-weight: 300;
}

.price-cart {
    font-weight: 700;
}

.remove-btn {
    
    color: #fff;
    background-color: transparent;
    box-shadow: none;
    display: flex;
    align-items: right;
    justify-content: center;
    width: 100px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.5s ease;
}

.remove-btn:hover {
    border: 1px solid #f30303;
    color: #f30303;
}

.cart-total {
    margin-top: 20px;
    margin-left: 20px;
}

.total {
    margin: 50px 0 25px 0;
}

.add-to-cart-btn {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 0;
    transition: all 0.5s ease;
    background-color: transparent;
    margin-top: 25px;
}

.add-to-cart-btn:hover {
    border: 1px solid #000000;
}

.cart-btn {
    width: 240px;
    font-size: 22px;
    text-align: center;
    height:50px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.5s ease;
    justify-content: center;
}

.cart-btn:hover {
    box-shadow: 1px 1px 5px;
}



/* login.html */

.container-login {
    padding-left: 36%;
    padding-top: 30px;
}

.login {
    
    width: 400px;
    height: 510px;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 5px 5px 10px #5a5a5a;
}

.login-title h2 {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 20px;
}

.login-btn {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 50px;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-top: 20px;
    transition: all 0.5s ease;
}

.login-btn:hover {
    box-shadow: 1px 1px 5px;
}

.reset-pass {
    font-size: 20px;
    position: relative;
}

.reset-btn,
.registr-btn {
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

.reset-btn:after,
.registr-btn:after {
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    height: 2px;
    background-color: #fff;
    content: "";
    transition: width 0.3s ease-out;
}

.reset-btn:hover:after,
.reset-btn:focus:after,
.registr-btn:hover:after,
.registr-btn:focus:after {
    width: 100%;
}
/* .registr-btn {
    text-decoration: none;
}

.registr-btn:hover {
    
} */


/* registration.html */

.container-registration {
    padding-left: 30%;
}

.login-reg {
    width: 600px;
    height: 600px;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.row {
    margin: 10px;
}

.login-title h2 {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 20px;
}

.login-btn {
    color: #fff;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 50px;
    font-size: 18px;
    padding-left: 10px;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-top: 20px;
    transition: all 0.5s ease;
}

.login-btn:hover {
    border: 1px solid #000000;
}

/* profile.html */

.container-profile {
    justify-items: center;
}


.windowp {
    width: 1210px;
    height: 600px;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 5px 5px 10px #5a5a5a;
}

.box2 {
    margin-top: 212px;
    margin-left: 20px;
}

.profile-btn {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 0;
    transition: all 0.5s ease;
    background-color: transparent;
}

.profile-btn:hover {
    box-shadow: 1px 1px 5px;
}

/* create.html */

.create-order {
    padding-left: 25%;
}

.orderform {
    justify-items: center;
}

.profile {
    width: 570px;
    height: 600px;
    margin-top: 5px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 5px 5px 10px #5a5a5a;
}

.order-form {
    display: flex;
    flex-direction: column;
}

.order-form input {
    border-radius: 5px;
    width:500px;
    height: 38px;
    background-color:#fff;
    box-shadow:none;
    border: 1px solid #fff;
}

.checkout {
    margin-top: -85px;
    width: 600px;
    text-align: center;
}

.order-info {
    margin-top: 20px;
}

.create-btn {
    color: #fff;
    width: 100px;
    height: 50px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-top: 20px;
    transition: all 0.5s ease;
}

.create-btn:hover {
    box-shadow: 1px 1px 5px;
}

/* created.html */


/* Styles specific to the space section */
.space {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("https://i.postimg.cc/c1Q3njM0/bg2.jpg");
    background-size: cover;
    animation: animateBg 50s linear infinite;
}

@keyframes animateBg {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.space span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
                0 0 0 8px rgba(255, 255, 255, 0.1),
                0 0 20px rgba(255, 255, 255, 0.1);
    animation: animate 3s linear infinite;
}

.space span::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

.space span:nth-child(1) {
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
}

.space span:nth-child(2) {
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}

.space span:nth-child(3) {
    top: 80px;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}

.space span:nth-child(4) {
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}

.space span:nth-child(5) {
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}

.space span:nth-child(6) {
    top: 0;
    right: 600px;
    animation-delay: 1s;
    animation-duration: 3s;
}

.space span:nth-child(7) {
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}

.space span:nth-child(8) {
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}

.space span:nth-child(9) {
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}

.space span:nth-child(9) {
    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.75s;
}